In [4]:
import pandas as pd
import requests
from census import Census
# Census API Key
from config import api_key

In [12]:
c19 = Census(api_key, year=2019)
# See: https://github.com/datamade/census for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data19 = c.acs5.get(("NAME", "B01003_001E",
                                      "B17001_002E",
                                      "B23025_005E",
                                      "B15003_002E",
                                      "B15003_017E",
                                      "B15003_021E",
                                      "B15003_022E",
                                      "B02001_002E",
                                      "B02001_003E",
                                      "B02001_004E",
                                      "B02001_005E",
                                      "B02001_006E",
                                      "B03001_003E",
                                      "B02001_008E"), {'for': 'state:*'})

# Convert to DataFrame
census_19 = pd.DataFrame(census_data19)

# Column Reordering
census_19 = census_19.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "PovertyCount",
                                      "B23025_005E": "UnemploymentCount",
                                      "B15003_002E": "NoCompletedEducation",
                                      "B15003_017E": "PopulationWithHighSchoolDiploma",
                                      "B15003_021E": "PopulationWithAssociatesDegree",
                                      "B15003_022E": "PopulationWithBachelorsDegree",
                                      "B02001_002E": "WhitePop",
                                      "B02001_003E": "BlackPop",
                                      "B02001_004E": "NativeAmericanPop",
                                      "B02001_005E": "AsianPop",
                                      "B02001_006E": "NativeHawaiianPop",
                                      "B03001_003E": "HispanicPop",
                                      "B02001_008E": "TwoOrMoreRacesPop",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_19["PovertyRate"] = 100 * \
    census_19["PovertyCount"].astype(
        int) / census_19["Population"].astype(int)
# Add in Employment Rate (Employment Count / Population)
census_19["UnemploymentRate"] = 100 * \
    census_19["UnemploymentCount"].astype(
        int) / census_19["Population"].astype(int)
# Final DataFrame
census_19 = census_19[["State", "Name", "Population", "PovertyCount", "PovertyRate", "UnemploymentRate",
                        "NoCompletedEducation", "PopulationWithHighSchoolDiploma",
                      "PopulationWithAssociatesDegree", "PopulationWithBachelorsDegree",
                      "WhitePop", "BlackPop", "NativeAmericanPop", "AsianPop", "NativeHawaiianPop",
                      "HispanicPop", "TwoOrMoreRacesPop"]]

census_19

,State,Name,Population,PovertyCount,PovertyRate,UnemploymentRate,NoCompletedEducation,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop
0,01,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
1,02,Alaska,737068.0,76933.0,10.437707,3.637114,3434.0,108797.0,41109.0,88058.0,476015.0,24205.0,109751.0,45920.0,9204.0,51870.0,60665.0
2,04,Arizona,7050299.0,1043764.0,14.804535,2.778676,71270.0,940168.0,408312.0,869452.0,5444453.0,317462.0,317414.0,233213.0,14458.0,2208663.0,263037.0
3,05,Arkansas,2999370.0,496260.0,16.545475,2.349860,23602.0,559816.0,143979.0,297250.0,2301044.0,459542.0,20434.0,45504.0,8733.0,224130.0,80537.0
4,06,California,39283497.0,5149742.0,13.109174,3.052765,713452.0,4813250.0,2073823.0,5603047.0,23453222.0,2274108.0,303998.0,5692423.0,155290.0,15327688.0,1922664.0
5,08,Colorado,5610349.0,565873.0,10.086235,2.341583,37709.0,667781.0,321903.0,981017.0,4712574.0,233647.0,54847.0,178147.0,8643.0,1208172.0,205724.0
6,10,Delaware,957248.0,109400.0,11.428595,2.766368,6505.0,187323.0,52636.0,124632.0,658237.0,212302.0,3729.0,37009.0,542.0,88364.0,27079.0
7,11,District of Columbia,692683.0,107140.0,15.467393,4.037489,5406.0,70065.0,14792.0,122380.0,285857.0,320811.0,2091.0,27592.0,376.0,76191.0,21445.0
8,09,Connecticut,3575074.0,344146.0,9.626262,3.257443,26484.0,588032.0,191964.0,541380.0,2714031.0,383416.0,9955.0,161257.0,1123.0,574240.0,119000.0
9,12,Florida,20901636.0,2870487.0,13.733313,2.686144,224991.0,3647514.0,1468744.0,2827938.0,15702256.0,3359031.0,59320.0,571276.0,12653.0,5346684.0,572021.0
10,13,Georgia,10403847.0,1528558.0,14.692238,2.792813,92308.0,1582994.0,538144.0,1324801.0,6098889.0,3289020.0,37440.0,414481.0,6233.0,992394.0,265912.0
11,16,Idaho,1717750.0,221256.0,12.880571,2.088721,10691.0,246382.0,109602.0,207179.0,1545409.0,11918.0,23136.0,24287.0,2755.0,215476.0,50569.0
12,15,Hawaii,1422094.0,130649.0,9.187086,2.128481,10456.0,247978.0,106509.0,215777.0,354847.0,26025.0,3710.0,537355.0,142997.0,149118.0,339727.0
13,17,Illinois,12770631.0,1557873.0,12.198873,3.092886,112285.0,1941914.0,700533.0,1831438.0,9134903.0,1813590.0,33460.0,698524.0,4477.0,2186387.0,328446.0
14,18,Indiana,6665703.0,867996.0,13.021822,2.420615,41362.0,1249644.0,387910.0,749078.0,5553391.0,626587.0,15782.0,151979.0,2506.0,461850.0,169711.0
15,19,Iowa,3139508.0,348122.0,11.088425,1.993083,16715.0,565444.0,242125.0,403801.0,2826070.0,116359.0,11976.0,75741.0,3729.0,188311.0,66585.0
16,20,Kansas,2910652.0,337739.0,11.603551,2.095819,17522.0,416403.0,165119.0,400938.0,2455935.0,170291.0,24010.0,85794.0,2382.0,345680.0,100557.0
17,21,Kentucky,4449052.0,747010.0,16.790318,2.628537,32406.0,792393.0,251136.0,428846.0,3868479.0,358928.0,9386.0,65191.0,3182.0,162994.0,100285.0
18,22,Louisiana,4664362.0,871467.0,18.683520,3.023350,37358.0,893660.0,194127.0,490514.0,2892275.0,1502963.0,26361.0,80806.0,1406.0,239164.0,94959.0
19,23,Maine,1335492.0,153131.0,11.466261,2.165644,5238.0,259470.0,97905.0,194761.0,1259522.0,18468.0,8660.0,15109.0,396.0,22100.0,29796.0
20,24,Maryland,6018848.0,539991.0,8.971667,2.731353,52991.0,890361.0,277837.0,891511.0,3343003.0,1799094.0,16762.0,378126.0,3034.0,606482.0,206692.0
21,25,Massachusetts,6850553.0,680962.0,9.940249,2.676499,68431.0,1014308.0,363665.0,1151870.0,5348538.0,522357.0,14764.0,452436.0,2804.0,809179.0,223035.0
22,26,Michigan,9965265.0,1398527.0,14.034017,2.949184,71854.0,1695368.0,643446.0,1207829.0,7813755.0,1374314.0,53316.0,311721.0,3099.0,507353.0,291259.0
23,27,Minnesota,5563378.0,526065.0,9.455856,1.997258,46158.0,812779.0,431425.0,892893.0,4609049.0,356515.0,58011.0,268181.0,2194.0,299556.0,165396.0
24,28,Mississippi,2984418.0,585786.0,19.628149,3.341791,24760.0,477712.0,192866.0,269736.0,1743217.0,1125623.0,14269.0,29605.0,680.0,91202.0,40296.0
25,29,Missouri,6104910.0,810045.0,13.268746,2.289780,34182.0,1080715.0,328720.0,745843.0,5015904.0,701334.0,27084.0,120654.0,8231.0,254791.0,160368.0
26,30,Montana,1050649.0,134605.0,12.811605,2.047592,3154.0,175082.0,66951.0,155230.0,930204.0,5303.0,66839.0,8259.0,807.0,40314.0,32161.0
27,31,Nebraska,1914571.0,206579.0,10.789832,1.803798,14521.0,283407.0,132185.0,262614.0,1666871.0,92406.0,17673.0,45655.0,1327.0,208271.0,50386.0
28,32,Nevada,2972382.0,384690.0,12.942145,3.109493,32770.0,490303.0,170718.0,330222.0,1949707.0,271005.0,38026.0,242267.0,20022.0,853041.0,146408.0
29,33,New Hampshire,1348124.0,98682.0,7.319950,2.034679,5874.0,222457.0,97663.0,218013.0,1252128.0,21546.0,2036.0,36180.0,443.0,50493.0,28281.0
30,34,New Jersey,8878503.0,869081.0,9.788598,2.906943,84073.0,1517670.0,401872.0,1489653.0,6018074.0,1194882.0,19711.0,840168.0,3458.0,1794736.0,243545.0
31,35,New Mexico,2092454.0,392065.0,18.737091,3.032707,17564.0,305538.0,118038.0,215662.0,1565366.0,44120.0,199845.0,32577.0,1644.0,1020817.0,68264.0
32,36,New York,19572319.0,2681277.0,13.699332,2.797364,267488.0,3002160.0,1190240.0,2799878.0,12459687.0,3065471.0,79512.0,1647606.0,8821.0,3720983.0,616257.0
33,37,North Carolina,10264876.0,1467591.0,14.297211,2.740842,82479.0,1491605.0,675145.0,1395214.0,7049919.0,2200761.0,123952.0,292992.0,7213.0,962665.0,273276.0
34,38,North Dakota,756717.0,78198.0,10.333850,1.507301,3017.0,111716.0,68506.0,107938.0,655136.0,21985.0,40006.0,11006.0,863.0,28317.0,19612.0
35,39,Ohio,11655397.0,1588343.0,13.627532,2.698175,69348.0,2323276.0,691111.0,1401609.0,9476047.0,1446193.0,22816.0,258199.0,3880.0,443415.0,335426.0
36,40,Oklahoma,3932870.0,598373.0,15.214665,2.411318,26024.0,680748.0,203387.0,436601.0,2844070.0,286356.0,299621.0,85239.0,6260.0,417906.0,304615.0
37,41,Oregon,4129803.0,533527.0,12.918946,2.773958,30209.0,532852.0,257692.0,603359.0,3480920.0,78679.0,48060.0,180580.0,16625.0,537217.0,198352.0
38,42,Pennsylvania,12791530.0,1539183.0,12.032830,2.715688,88552.0,2757067.0,758348.0,1701365.0,10300602.0,1430664.0,24691.0,436324.0,4198.0,935216.0,319874.0
39,44,Rhode Island,1057231.0,125826.0,11.901467,2.880638,10729.0,174032.0,61743.0,150150.0,850597.0,71561.0,5277.0,35958.0,810.0,163226.0,35221.0
40,45,South Carolina,5020806.0,741650.0,14.771533,2.778956,37535.0,850160.0,337253.0,614156.0,3372011.0,1344139.0,17645.0,78805.0,4002.0,285458.0,115930.0
41,46,South Dakota,870638.0,110553.0,12.697930,1.807410,3766.0,147794.0,66074.0,113870.0,733719.0,17531.0,76190.0,12627.0,504.0,33024.0,22837.0
42,47,Tennessee,6709356.0,996930.0,14.858803,2.575493,48373.0,1203461.0,334362.0,789448.0,5205132.0,1124473.0,18189.0,117600.0,3771.0,364174.0,147536.0
43,48,Texas,28260856.0,4072194.0,14.409309,2.508158,361299.0,3729737.0,1309005.0,3534714.0,20903375.0,3428211.0,141425.0,1357273.0,25292.0,11116881.0,761411.0
44,50,Vermont,624313.0,65652.0,10.515879,1.973850,2715.0,111530.0,38518.0,99016.0,587883.0,8502.0,2132.0,10461.0,325.0,12038.0,12600.0
45,49,Utah,3096848.0,298537.0,9.640028,1.793404,15179.0,362222.0,176978.0,410803.0,2676482.0,36849.0,33721.0,71977.0,27554.0,434832.0,94036.0
46,51,Virginia,8454463.0,865691.0,10.239456,2.375668,68125.0,1155096.0,448739.0,1272608.0,5717617.0,1621592.0,23873.0,541133.0,6179.0,792001.0,320275.0
47,53,Washington,7404107.0,785244.0,10.605519,2.530082,59452.0,925707.0,509353.0,1144545.0,5581128.0,281683.0,94449.0,631333.0,49090.0,937579.0,433386.0
48,54,West Virginia,1817305.0,310044.0,17.060647,2.856428,10076.0,432826.0,94488.0,159196.0,1691600.0,66990.0,3667.0,14523.0,419.0,28368.0,32135.0
49,55,Wisconsin,5790716.0,639160.0,11.037668,1.926601,34775.0,1073887.0,429430.0,780824.0,4946961.0,371200.0,51392.0,161841.0,2400.0,394392.0,138572.0
50,56,Wyoming,581024.0,62257.0,10.715048,2.331057,1881.0,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
51,72,Puerto Rico,3318447.0,1449091.0,43.667746,5.934523,59498.0,597482.0,243011.0,433178.0,2188014.0,386676.0,6838.0,6237.0,269.0,3275919.0,175649.0

In [13]:
c18 = Census(api_key, year=2018)
# See: https://github.com/datamade/census for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data18 = c.acs5.get(("NAME", "B01003_001E",
                                      "B17001_002E",
                                      "B23025_005E",
                                      "B15003_002E",
                                      "B15003_017E",
                                      "B15003_021E",
                                      "B15003_022E",
                                      "B02001_002E",
                                      "B02001_003E",
                                      "B02001_004E",
                                      "B02001_005E",
                                      "B02001_006E",
                                      "B03001_003E",
                                      "B02001_008E"), {'for': 'state:*'})

# Convert to DataFrame
census_18 = pd.DataFrame(census_data18)

# Column Reordering
census_18 = census_18.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "PovertyCount",
                                      "B23025_005E": "UnemploymentCount",
                                      "B15003_002E": "NoCompletedEducation",
                                      "B15003_017E": "PopulationWithHighSchoolDiploma",
                                      "B15003_021E": "PopulationWithAssociatesDegree",
                                      "B15003_022E": "PopulationWithBachelorsDegree",
                                      "B02001_002E": "WhitePop",
                                      "B02001_003E": "BlackPop",
                                      "B02001_004E": "NativeAmericanPop",
                                      "B02001_005E": "AsianPop",
                                      "B02001_006E": "NativeHawaiianPop",
                                      "B03001_003E": "HispanicPop",
                                      "B02001_008E": "TwoOrMoreRacesPop",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_18["PovertyRate"] = 100 * \
    census_18["PovertyCount"].astype(
        int) / census_18["Population"].astype(int)
# Add in Employment Rate (Employment Count / Population)
census_18["UnemploymentRate"] = 100 * \
    census_18["UnemploymentCount"].astype(
        int) / census_18["Population"].astype(int)
# Final DataFrame
census_18 = census_18[["State", "Name", "Population", "PovertyCount", "PovertyRate", "UnemploymentRate",
                        "NoCompletedEducation", "PopulationWithHighSchoolDiploma",
                      "PopulationWithAssociatesDegree", "PopulationWithBachelorsDegree",
                      "WhitePop", "BlackPop", "NativeAmericanPop", "AsianPop", "NativeHawaiianPop",
                      "HispanicPop", "TwoOrMoreRacesPop"]]

census_18.head()

,State,Name,Population,PovertyCount,PovertyRate,UnemploymentRate,NoCompletedEducation,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop
0,01,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
1,02,Alaska,737068.0,76933.0,10.437707,3.637114,3434.0,108797.0,41109.0,88058.0,476015.0,24205.0,109751.0,45920.0,9204.0,51870.0,60665.0
2,04,Arizona,7050299.0,1043764.0,14.804535,2.778676,71270.0,940168.0,408312.0,869452.0,5444453.0,317462.0,317414.0,233213.0,14458.0,2208663.0,263037.0
3,05,Arkansas,2999370.0,496260.0,16.545475,2.349860,23602.0,559816.0,143979.0,297250.0,2301044.0,459542.0,20434.0,45504.0,8733.0,224130.0,80537.0
4,06,California,39283497.0,5149742.0,13.109174,3.052765,713452.0,4813250.0,2073823.0,5603047.0,23453222.0,2274108.0,303998.0,5692423.0,155290.0,15327688.0,1922664.0

In [14]:
c17 = Census(api_key, year=2017)
# See: https://github.com/datamade/census for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data17 = c.acs5.get(("NAME", "B01003_001E",
                                      "B17001_002E",
                                      "B23025_005E",
                                      "B15003_002E",
                                      "B15003_017E",
                                      "B15003_021E",
                                      "B15003_022E",
                                      "B02001_002E",
                                      "B02001_003E",
                                      "B02001_004E",
                                      "B02001_005E",
                                      "B02001_006E",
                                      "B03001_003E",
                                      "B02001_008E"), {'for': 'state:*'})

# Convert to DataFrame
census_17 = pd.DataFrame(census_data18)

# Column Reordering
census_17 = census_17.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "PovertyCount",
                                      "B23025_005E": "UnemploymentCount",
                                      "B15003_002E": "NoCompletedEducation",
                                      "B15003_017E": "PopulationWithHighSchoolDiploma",
                                      "B15003_021E": "PopulationWithAssociatesDegree",
                                      "B15003_022E": "PopulationWithBachelorsDegree",
                                      "B02001_002E": "WhitePop",
                                      "B02001_003E": "BlackPop",
                                      "B02001_004E": "NativeAmericanPop",
                                      "B02001_005E": "AsianPop",
                                      "B02001_006E": "NativeHawaiianPop",
                                      "B03001_003E": "HispanicPop",
                                      "B02001_008E": "TwoOrMoreRacesPop",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_17["PovertyRate"] = 100 * \
    census_17["PovertyCount"].astype(
        int) / census_17["Population"].astype(int)
# Add in Employment Rate (Employment Count / Population)
census_17["UnemploymentRate"] = 100 * \
    census_17["UnemploymentCount"].astype(
        int) / census_17["Population"].astype(int)
# Final DataFrame
census_17 = census_17[["State", "Name", "Population", "PovertyCount", "PovertyRate", "UnemploymentRate",
                        "NoCompletedEducation", "PopulationWithHighSchoolDiploma",
                      "PopulationWithAssociatesDegree", "PopulationWithBachelorsDegree",
                      "WhitePop", "BlackPop", "NativeAmericanPop", "AsianPop", "NativeHawaiianPop",
                      "HispanicPop", "TwoOrMoreRacesPop"]]

census_17.head()

,State,Name,Population,PovertyCount,PovertyRate,UnemploymentRate,NoCompletedEducation,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop
0,01,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
1,02,Alaska,737068.0,76933.0,10.437707,3.637114,3434.0,108797.0,41109.0,88058.0,476015.0,24205.0,109751.0,45920.0,9204.0,51870.0,60665.0
2,04,Arizona,7050299.0,1043764.0,14.804535,2.778676,71270.0,940168.0,408312.0,869452.0,5444453.0,317462.0,317414.0,233213.0,14458.0,2208663.0,263037.0
3,05,Arkansas,2999370.0,496260.0,16.545475,2.349860,23602.0,559816.0,143979.0,297250.0,2301044.0,459542.0,20434.0,45504.0,8733.0,224130.0,80537.0
4,06,California,39283497.0,5149742.0,13.109174,3.052765,713452.0,4813250.0,2073823.0,5603047.0,23453222.0,2274108.0,303998.0,5692423.0,155290.0,15327688.0,1922664.0

In [15]:
c16 = Census(api_key, year=2016)
# See: https://github.com/datamade/census for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data16 = c.acs5.get(("NAME", "B01003_001E",
                                      "B17001_002E",
                                      "B23025_005E",
                                      "B15003_002E",
                                      "B15003_017E",
                                      "B15003_021E",
                                      "B15003_022E",
                                      "B02001_002E",
                                      "B02001_003E",
                                      "B02001_004E",
                                      "B02001_005E",
                                      "B02001_006E",
                                      "B03001_003E",
                                      "B02001_008E"), {'for': 'state:*'})

# Convert to DataFrame
census_16 = pd.DataFrame(census_data16)

# Column Reordering
census_16 = census_16.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "PovertyCount",
                                      "B23025_005E": "UnemploymentCount",
                                      "B15003_002E": "NoCompletedEducation",
                                      "B15003_017E": "PopulationWithHighSchoolDiploma",
                                      "B15003_021E": "PopulationWithAssociatesDegree",
                                      "B15003_022E": "PopulationWithBachelorsDegree",
                                      "B02001_002E": "WhitePop",
                                      "B02001_003E": "BlackPop",
                                      "B02001_004E": "NativeAmericanPop",
                                      "B02001_005E": "AsianPop",
                                      "B02001_006E": "NativeHawaiianPop",
                                      "B03001_003E": "HispanicPop",
                                      "B02001_008E": "TwoOrMoreRacesPop",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_16["PovertyRate"] = 100 * \
    census_16["PovertyCount"].astype(
        int) / census_16["Population"].astype(int)
# Add in Employment Rate (Employment Count / Population)
census_16["UnemploymentRate"] = 100 * \
    census_16["UnemploymentCount"].astype(
        int) / census_16["Population"].astype(int)
# Final DataFrame
census_16 = census_16[["State", "Name", "Population", "PovertyCount", "PovertyRate", "UnemploymentRate",
                        "NoCompletedEducation", "PopulationWithHighSchoolDiploma",
                      "PopulationWithAssociatesDegree", "PopulationWithBachelorsDegree",
                      "WhitePop", "BlackPop", "NativeAmericanPop", "AsianPop", "NativeHawaiianPop",
                      "HispanicPop", "TwoOrMoreRacesPop"]]

census_16.head()

,State,Name,Population,PovertyCount,PovertyRate,UnemploymentRate,NoCompletedEducation,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop
0,01,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
1,02,Alaska,737068.0,76933.0,10.437707,3.637114,3434.0,108797.0,41109.0,88058.0,476015.0,24205.0,109751.0,45920.0,9204.0,51870.0,60665.0
2,04,Arizona,7050299.0,1043764.0,14.804535,2.778676,71270.0,940168.0,408312.0,869452.0,5444453.0,317462.0,317414.0,233213.0,14458.0,2208663.0,263037.0
3,05,Arkansas,2999370.0,496260.0,16.545475,2.349860,23602.0,559816.0,143979.0,297250.0,2301044.0,459542.0,20434.0,45504.0,8733.0,224130.0,80537.0
4,06,California,39283497.0,5149742.0,13.109174,3.052765,713452.0,4813250.0,2073823.0,5603047.0,23453222.0,2274108.0,303998.0,5692423.0,155290.0,15327688.0,1922664.0

In [16]:
c15 = Census(api_key, year=2015)
# See: https://github.com/datamade/census for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data15 = c.acs5.get(("NAME", "B01003_001E",
                                      "B17001_002E",
                                      "B23025_005E",
                                      "B15003_002E",
                                      "B15003_017E",
                                      "B15003_021E",
                                      "B15003_022E",
                                      "B02001_002E",
                                      "B02001_003E",
                                      "B02001_004E",
                                      "B02001_005E",
                                      "B02001_006E",
                                      "B03001_003E",
                                      "B02001_008E"), {'for': 'state:*'})

# Convert to DataFrame
census_15 = pd.DataFrame(census_data15)

# Column Reordering
census_15 = census_15.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "PovertyCount",
                                      "B23025_005E": "UnemploymentCount",
                                      "B15003_002E": "NoCompletedEducation",
                                      "B15003_017E": "PopulationWithHighSchoolDiploma",
                                      "B15003_021E": "PopulationWithAssociatesDegree",
                                      "B15003_022E": "PopulationWithBachelorsDegree",
                                      "B02001_002E": "WhitePop",
                                      "B02001_003E": "BlackPop",
                                      "B02001_004E": "NativeAmericanPop",
                                      "B02001_005E": "AsianPop",
                                      "B02001_006E": "NativeHawaiianPop",
                                      "B03001_003E": "HispanicPop",
                                      "B02001_008E": "TwoOrMoreRacesPop",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_15["PovertyRate"] = 100 * \
    census_15["PovertyCount"].astype(
        int) / census_15["Population"].astype(int)
# Add in Employment Rate (Employment Count / Population)
census_15["UnemploymentRate"] = 100 * \
    census_15["UnemploymentCount"].astype(
        int) / census_15["Population"].astype(int)
# Final DataFrame
census_15 = census_15[["State", "Name", "Population", "PovertyCount", "PovertyRate", "UnemploymentRate",
                        "NoCompletedEducation", "PopulationWithHighSchoolDiploma",
                      "PopulationWithAssociatesDegree", "PopulationWithBachelorsDegree",
                      "WhitePop", "BlackPop", "NativeAmericanPop", "AsianPop", "NativeHawaiianPop",
                      "HispanicPop", "TwoOrMoreRacesPop"]]

census_15.head()

,State,Name,Population,PovertyCount,PovertyRate,UnemploymentRate,NoCompletedEducation,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop
0,01,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
1,02,Alaska,737068.0,76933.0,10.437707,3.637114,3434.0,108797.0,41109.0,88058.0,476015.0,24205.0,109751.0,45920.0,9204.0,51870.0,60665.0
2,04,Arizona,7050299.0,1043764.0,14.804535,2.778676,71270.0,940168.0,408312.0,869452.0,5444453.0,317462.0,317414.0,233213.0,14458.0,2208663.0,263037.0
3,05,Arkansas,2999370.0,496260.0,16.545475,2.349860,23602.0,559816.0,143979.0,297250.0,2301044.0,459542.0,20434.0,45504.0,8733.0,224130.0,80537.0
4,06,California,39283497.0,5149742.0,13.109174,3.052765,713452.0,4813250.0,2073823.0,5603047.0,23453222.0,2274108.0,303998.0,5692423.0,155290.0,15327688.0,1922664.0

In [18]:
census_15["Year"] = "2015"
census_16["Year"] = "2016"
census_17["Year"] = "2017"
census_18["Year"] = "2018"
census_19["Year"] = "2019"

In [19]:
census_combined = census_15.append(census_16)
census_combined = census_combined.append(census_17)
census_combined = census_combined.append(census_18)
census_combined = census_combined.append(census_19)
census_combined

,State,Name,Population,PovertyCount,PovertyRate,UnemploymentRate,NoCompletedEducation,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop,Year
0,01,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0,2015
1,02,Alaska,737068.0,76933.0,10.437707,3.637114,3434.0,108797.0,41109.0,88058.0,476015.0,24205.0,109751.0,45920.0,9204.0,51870.0,60665.0,2015
2,04,Arizona,7050299.0,1043764.0,14.804535,2.778676,71270.0,940168.0,408312.0,869452.0,5444453.0,317462.0,317414.0,233213.0,14458.0,2208663.0,263037.0,2015
3,05,Arkansas,2999370.0,496260.0,16.545475,2.349860,23602.0,559816.0,143979.0,297250.0,2301044.0,459542.0,20434.0,45504.0,8733.0,224130.0,80537.0,2015
4,06,California,39283497.0,5149742.0,13.109174,3.052765,713452.0,4813250.0,2073823.0,5603047.0,23453222.0,2274108.0,303998.0,5692423.0,155290.0,15327688.0,1922664.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,53,Washington,7404107.0,785244.0,10.605519,2.530082,59452.0,925707.0,509353.0,1144545.0,5581128.0,281683.0,94449.0,631333.0,49090.0,937579.0,433386.0,2019
48,54,West Virginia,1817305.0,310044.0,17.060647,2.856428,10076.0,432826.0,94488.0,159196.0,1691600.0,66990.0,3667.0,14523.0,419.0,28368.0,32135.0,2019
49,55,Wisconsin,5790716.0,639160.0,11.037668,1.926601,34775.0,1073887.0,429430.0,780824.0,4946961.0,371200.0,51392.0,161841.0,2400.0,394392.0,138572.0,2019
50,56,Wyoming,581024.0,62257.0,10.715048,2.331057,1881.0,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0,2019
51,72,Puerto Rico,3318447.0,1449091.0,43.667746,5.934523,59498.0,597482.0,243011.0,433178.0,2188014.0,386676.0,6838.0,6237.0,269.0,3275919.0,175649.0,2019

In [21]:
infant_mortality = pd.read_csv("data/2019mortality.csv", usecols=["YEAR", "STATE", "RATE", "DEATHS"])
infant_mortality

     YEAR STATE  RATE  DEATHS
0    2019    AL  7.89     449
1    2019    AK  4.81      48
2    2019    AZ  5.24     429
3    2019    AR   6.9     251
4    2019    CA  4.06    1879
..    ...   ...   ...     ...
345  2005    VA  7.47     781
346  2005    WA  5.07     419
347  2005    WV  8.16     170
348  2005    WI  6.54     464
349  2005    WY  6.63      48

[350 rows x 4 columns]

In [27]:
mortality_clean = infant_mortality[infant_mortality.YEAR != 2005]
mortality_clean = mortality_clean[mortality_clean.YEAR != 2014]
mortality_clean

     YEAR STATE  RATE  DEATHS
0    2019    AL  7.89     449
1    2019    AK  4.81      48
2    2019    AZ  5.24     429
3    2019    AR   6.9     251
4    2019    CA  4.06    1879
..    ...   ...   ...     ...
245  2015    VA   5.9     610
246  2015    WA  4.88     434
247  2015    WV  7.12     141
248  2015    WI   5.8     389
249  2015    WY  4.89      38

[250 rows x 4 columns]

In [32]:
# csv from https://worldpopulationreview.com/states/state-abbreviations
states = pd.read_csv("Data/states.csv", usecols=["State", "Code"])
states.rename(columns={"State": "Name", "Code": "STATE"}, inplace=True)
states.head()

         Name STATE
0     Alabama    AL
1      Alaska    AK
2     Arizona    AZ
3    Arkansas    AR
4  California    CA

In [37]:
mortality_state = pd.merge(mortality_clean, states, on="STATE")

mortality_state.rename(columns={"YEAR": "Year", "RATE": "Rate", "DEATHS": "Deaths", "STATE": "State"}, inplace=True)
mortality_state.head()

   Year State  Rate  Deaths     Name
0  2019    AL  7.89     449  Alabama
1  2018    AL  6.94     401  Alabama
2  2017    AL  7.38     435  Alabama
3  2016    AL  9.03     534  Alabama
4  2015    AL  8.31     496  Alabama

In [43]:
census_combined["Year"] = census_combined["Year"].astype(int)
# census_combined.info()
final_df = pd.merge(mortality_state, census_combined, how="inner", on=["Name", "Year"])
final_df

,Year,State_x,Rate,Deaths,Name,State_y,Population,PovertyCount,PovertyRate,UnemploymentRate,...,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop
0,2019,AL,7.89,449,Alabama,01,4876250.0,795989.0,16.323794,2.708946,...,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
1,2018,AL,6.94,401,Alabama,01,4876250.0,795989.0,16.323794,2.708946,...,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
2,2017,AL,7.38,435,Alabama,01,4876250.0,795989.0,16.323794,2.708946,...,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
3,2016,AL,9.03,534,Alabama,01,4876250.0,795989.0,16.323794,2.708946,...,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
4,2015,AL,8.31,496,Alabama,01,4876250.0,795989.0,16.323794,2.708946,...,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2019,WY,7,46,Wyoming,56,581024.0,62257.0,10.715048,2.331057,...,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
246,2018,WY,5.33,35,Wyoming,56,581024.0,62257.0,10.715048,2.331057,...,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
247,2017,WY,4.64,32,Wyoming,56,581024.0,62257.0,10.715048,2.331057,...,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
248,2016,WY,5.01,37,Wyoming,56,581024.0,62257.0,10.715048,2.331057,...,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
249,2015,WY,4.89,38,Wyoming,56,581024.0,62257.0,10.715048,2.331057,...,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0

In [45]:
final_df.rename(columns={"State_x": "State"}, inplace=True)
final_df.drop(["State_y"], axis=1, inplace=True)
final_df

,Year,State,Rate,Deaths,Name,Population,PovertyCount,PovertyRate,UnemploymentRate,NoCompletedEducation,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,WhitePop,BlackPop,NativeAmericanPop,AsianPop,NativeHawaiianPop,HispanicPop,TwoOrMoreRacesPop
0,2019,AL,7.89,449,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
1,2018,AL,6.94,401,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
2,2017,AL,7.38,435,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
3,2016,AL,9.03,534,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
4,2015,AL,8.31,496,Alabama,4876250.0,795989.0,16.323794,2.708946,40837.0,841716.0,282316.0,529178.0,3320247.0,1299048.0,25565.0,66270.0,2238.0,208626.0,92220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2019,WY,7,46,Wyoming,581024.0,62257.0,10.715048,2.331057,1881.0,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
246,2018,WY,5.33,35,Wyoming,581024.0,62257.0,10.715048,2.331057,1881.0,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
247,2017,WY,4.64,32,Wyoming,581024.0,62257.0,10.715048,2.331057,1881.0,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
248,2016,WY,5.01,37,Wyoming,581024.0,62257.0,10.715048,2.331057,1881.0,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0
249,2015,WY,4.89,38,Wyoming,581024.0,62257.0,10.715048,2.331057,1881.0,93507.0,43761.0,68269.0,531304.0,5582.0,14164.0,5025.0,596.0,57341.0,15521.0

In [46]:
final_df.to_csv("Data/infant_mortality.csv", encoding="utf-8", index=False)